---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<div pt-24 pb-12 un-flex flex-col break-words>
        <h1 text-2xl font-bold  py-2 class="text-[#202020] dark:text-[#EEEEEE]">ATI Lab</h1>
        <p text-lg>Seeking all that is.</p>
    </div>
	
</Layout>