---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div pt-24 pb-12 un-flex flex-col break-words>
        <h1 text-2xl font-bold  py-2 class="text-[#202020] dark:text-[#EEEEEE]">Heyu</h1>
        <p text-lg>A Security Engineer.</p>
    </div>
    <div h-50vh></div>
    
</Layout>