---

---
<footer max-w-3xl m-a px-6 pt-20 pb-10 text-sm gap-3 un-flex flex-col>
    <div un-flex justify-between>
        <p>2025 © Heyu. </p>
        <p>All That Is + Me = 1</p>
    </div>
    
    

</footer>