<header p-8 un-flex justify-between items-center>
    <div>
        <a href="/">
        <img src="/yin-yang.png" alt="Logo" width="40" height="40">
        </a>
    </div>
    <div un-flex gap-8>
        <a href="https://shiyi.me"><span class="lt-md:hidden">Blog</span>
            <div class="i-iconoir-post w-24px h-24px md:hidden" />
        </a>
        <a href="/photos"><span class="lt-md:hidden">Collapsing Spacetime</span>
            <div class="i-proicons-photo w-24px h-24px md:hidden"></div>
        </a>
        <a href="/atilab"><span class="lt-md:hidden">ATI Lab</span>
            <div class="i-ph:head-circuit w-24px h-24px md:hidden"></div>
        </a>
        <a href="https://github.com/cyberheyu"><div class="i-line-md:github-loop w-24px h-24px"></div></a>
        <a href="/rss.xml"><div class="i-la:rss-square w-24px h-24px"></div></a>

    </div>
</header>