---
import { ClientRouter } from 'astro:transitions';
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/at.ico" type="image/x-icon">
    <meta name="generator" content={Astro.generator} />
    <title>All That Is & Me</title>
    <meta name="description" content="Seeking the Entanglement of All That Is and Me.">

    <ClientRouter />
    <slot />
</head>