<div pt-24 pb-12 un-flex flex-col break-words>
	<h1 text-2xl font-bold  py-2 class="text-[#202020] dark:text-[#EEEEEE]">All That Is & Me</h1>
	<p text-lg>Seeking the Entanglement of All That Is and Me.</p>
</div>
<div un-flex flex-col gap-5>
	<p>Hi, I'm Heyu, a Security Engineer.</p>
	<p>Observer first, <br>Creator when called, <br>Learner always.</p>
	<p>Email: <a text-purple hover:text-blue font-bold href="mailto:hi@shiyi.me">hi@shiyi.me</a></p>
</div>

