<div pt-24 pb-12 un-flex flex-col break-words>
	<h1 text-2xl font-bold  py-2 class="text-[#202020] dark:text-[#EEEEEE]">All That Is & Me</h1>
	<p text-lg>Seeking the Entanglement of All That Is and Me.</p>
</div>
<div un-flex flex-col gap-5>
	<p>Hi, I'm Heyu, a Security Engineer.</p>
	<p>Observer first, <br>Creator when called, <br>Learner always.</p>
	<!-- <p>于本质之维，万物共本同源，若枝叶尘埃皆出混沌；在现象之界，人类虽执一时权杖，终随自然铁律牵丝弄偶。</p> -->
    <p>In the essential realm, all existence is rooted as branches and dust share one source; within the phenomenal sphere, humanity grasps a fleeting scepter, yet dances ever to the puppet-strings of nature's inexorable laws.</p>
	
	<p>Mail me at <a text-purple hover:text-blue href="mailto:hi@shiyi.me">hi@shiyi.me</a></p>
</div>

